@tailwind base;
@tailwind components;
@tailwind utilities;


.dark {
    background-color: #000000;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
  }
  
.light {
    background-color: #ffffff;
    color: #000000;
    
  }
  