.slide1 {
    position: absolute;
    top: 180px;
    left: 5%;
    color: grey;
    font-size: 28px;
    font-weight: bold;
    text-align: start;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
  
    h2 {
      color: #090909;
      font-size: 26px;
      font-weight: 600;
    }
  
    p {
      color: #171717;
      font-size: 80px;
      font-weight: 700;
    }
  
    .hero-hand-icon {
      display: flex;
      align-items: center;
      gap: 20px;
  
      img {
        width: 105px;
      }
    }
    .hero-latest-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      width: 180px;
      height: 50px;
      border-radius: 75px;
      margin-top: 30px;
      background: #2879fe;
      color: white;
      font-size: 22px;
      font-weight: 500;
  }
  }