.slider {
    height: calc(100vh - 80px);
}

.slide2 {
    font-size: 28px;

    h2{
        font-size: 26px;
    }
    p {
        font-size: 80px; 
    }
    img{
        width: 105px;
    }
}

.slide3 {
    h2{
        font-size: 40px;
    }
    p {
        font-size: 28px;
    }
}
